html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body.dark-mode {
    background-color: black;
    color: white;
}

body.light-mode {
    background-color: white;
    color: black;
}

#bpmDisplay {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    text-align: right;
}

.sound-selector-container {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: black; /* Fond noir plein */
    border-radius: 40px; /* Coins arrondis */
}

.sound-selector {
    display: flex;
    flex-direction: column;
}

.sound-selector button {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: white; /* Fond blanc */
    border: 2px solid black; /* Bordure noire */
    cursor: pointer;
}

.sound-selector button.active {
    background-color: rgb(0, 0, 0);
}

/* Styles pour le slider */
.slider-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px; /* Hauteur du slider */
    height: 8px; /* Largeur du slider */
    border-radius: 5px;
    outline: none;
    transform: rotate(270deg); /* Tourner pour Chrome et Firefox */
    margin: 70%;
    position: relative;
}

.slider::-webkit-slider-runnable-track {
    border-radius: 5px;
}

.slider::-moz-range-track {
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}

#toggleRaysBtn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
}

/* Dark mode styles */
body.dark-mode #bpmDisplay {
    color: white;
}

body.dark-mode .slider {
    background: #000000;
}

body.dark-mode .slider::-webkit-slider-runnable-track {
    background: white;
}

body.dark-mode .slider::-moz-range-track {
    background: white;
}

body.dark-mode .slider::-webkit-slider-thumb {
    background: black;
}

body.dark-mode .slider::-moz-range-thumb {
    background: black;
}

body.dark-mode .sound-selector-container {
    background-color: white;
}

body.dark-mode .sound-selector button {
    background-color: white;
    border: 2px solid black;
}

body.dark-mode .sound-selector button.active {
    background-color: black;
    color: white;
}

/* Light mode styles */
body.light-mode #bpmDisplay {
    color: black;
}

body.light-mode .slider {
    background: #ddd;
}

body.light-mode .slider::-webkit-slider-runnable-track {
    background: black;
}

body.light-mode .slider::-moz-range-track {
    background: black;
}

body.light-mode .slider::-webkit-slider-thumb {
    background: white;
}

body.light-mode .slider::-moz-range-thumb {
    background: white;
}

body.light-mode .sound-selector-container {
    background-color: black;
}

body.light-mode .sound-selector button {
    background-color: white;
    border: 2px solid black;
}

body.light-mode .sound-selector button.active {
    background-color: black;
    color: white;
}
